<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="My suite">
    <listeners>
        <listener class-name="ru.testit.listener.BaseTestNgListener"/>
    </listeners>
    <test name = "testWithXmlParameters1">
        <parameter name = "title" value="Test version 1"/>
        <parameter name = "number" value="1"/>
        <parameter name = "url" value="google.com"/>
        <classes>
            <class name="ru.testit.samples.XmlParameterizedTests" />
        </classes>
    </test>
    <test name = "testWithXmlParameters2">
        <parameter name = "title" value="Test version 2"/>
        <parameter name = "number" value="2"/>
        <parameter name = "url" value="yandex.ru"/>
        <classes>
            <class name="ru.testit.samples.XmlParameterizedTests" />
        </classes>
    </test>
    <test name = "testWithXmlParameters3">
        <parameter name = "title" value="Test version 3"/>
        <parameter name = "number" value="3"/>
        <parameter name = "url" value="duckduckgo.com"/>
        <classes>
            <class name="ru.testit.samples.XmlParameterizedTests" />
        </classes>
    </test>
    <test name="All">
        <classes>
            <class name="ru.testit.samples.FullBeforeAfterTests" />
            <class name="ru.testit.samples.OnlyBeforeAfterAllTests" />
            <class name="ru.testit.samples.OnlyBeforeAfterEachTests" />
            <class name="ru.testit.samples.DataProviderParameterizedTests" />
        </classes>
    </test>
</suite>