name: "Verify type labels"

on:
  pull_request:
    types: [opened, labeled, unlabeled, synchronize]

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
      - uses: zwaldowski/match-label-action@v4
        with:
          allowed_multiple: enhancement, bug, documentation, tests
