name: local tests
run-name: "#${{ github.run_number }} test by ${{ github.triggering_actor }}"
on:
  pull_request:
    paths:
      - "testit-java-commons/**"
      - "build.gradle.kts"
      - "gradle.properties"
      - "settings.gradle.kts"
      - ".github/**/test.yml"
env:
  JAVA_DISTRIBUTION: "temurin"
  JAVA_VERSION: 17
jobs:

  test-gradle:
    name: gradle testing
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout adapters-java
        uses: actions/checkout@v4
      
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-package: jdk
          java-version: ${{ env.JAVA_VERSION }}
      
      - name: Run tests
        run: |
          ./gradlew test
        